In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import operator
import collections

In [3]:
data = pd.read_json('data.json')

In [ ]:
list_macroCategory = [{
    "food": ["bakery", "bar", "cafe", "food", "liquor_store", "meal_delivery", "meal_takeaway", "restaurant"],
    "finance": ["accounting", "atm", "bank", "finance"],
    "administrative": ["city_hall", "courthouse", "embassy", "fire_station", "local_government_office", "police"],
    "transport": ["airport", "bus_station", "subway_station", "taxi_stand", "train_station", "transit_station", "light_rail_station"],
    "cultural": ["art_gallery", "library", "school", "university", "movie_theater", "museum"],
    "entertainment": ["night_club", "amusement_park", "casino", "bowling _lley", "campground", "zoo", "aquarium", "stadium"],
    "health": ["pharmacy", "physiotherapist", "beauty_salon", "dentist", "doctor", "gym", "hair_care", "hospital", "veterinary_care", "health", "spa"],
    "services": ["travel_agency", "funeral_home", "painter", "park", "post_office", "parking", "roofing_contractor", "locksmith", "general_contractor",
        "lodging", "moving_company", "car_repair", "car_wash", "electrician", "car_rental", "laundry", "gas_station", "plumber",
        "real_estate_agency", "recreational_vehicle_park", "insurance_agency", "lawyer"
    ],
    "religious": ["mosque", "cemetery", "church", "hindu_temple", "synagogue", "place_of_worship"],
    "stores": ["shoe_store", "shopping_mall", "pet_store", "bicycle_store", "book_store", "car_dealer", "clothing_store",
        "jewelry_store", "florist", "store", "furniture_store", "convenience_store", "department_store", "electronics_store",
        "hardware_store", "home_goods_store", "storage", "grocery_or_supermarket", "movie_rental"
    ],
    "miscellaneous": ["point_of_interest", "establishment", "country", "floor", "intersection", "locality", "natural_feature", "geocode",
        "colloquial", "area", "room", "post_box", "neighborhood", "postal_code", "postal_town", "political", "postal_code_prefix",
        "postal_code_suffix", "premise", "route", "street_address", "subpremise", "street_number", "sublocality_(SL)"
    ]
}]

In [4]:
data.head()

,id,col,row,location,places,categories,bounds
0,1,1,1,"{'lat': -22.125511589872737, 'lng': -51.392761...",[[{'geometry': {'location': {'lat': -22.121126...,"[miscellaneous, services, food, stores, miscel...","{'north': -22.12326580166244, 'south': -22.127..."
1,2,2,1,"{'lat': -22.12551151830149, 'lng': -51.3879124...",[[{'geometry': {'location': {'lat': -22.121126...,"[services, services, miscellaneous, stores, re...","{'north': -22.12326573009119, 'south': -22.127..."
2,3,3,1,"{'lat': -22.12551144673024, 'lng': -51.3830639...",[[{'geometry': {'location': {'lat': -22.121126...,"[religious, administrative, stores, religious,...","{'north': -22.12326565851994, 'south': -22.127..."

In [5]:
data.loc[0]

id                                                            1
col                                                           1
row                                                           1
location      {'lat': -22.125511589872737, 'lng': -51.392761...
places        [[{'geometry': {'location': {'lat': -22.121126...
categories    [miscellaneous, services, food, stores, miscel...
bounds        {'north': -22.12326580166244, 'south': -22.127...
Name: 0, dtype: object

In [ ]:
df_macroCategory = pd.DataFrame(list_macroCategory)
df_macroCategory.head()

In [10]:
categories = pd.DataFrame(data.categories)
categories.loc[1]

categories    [services, services, miscellaneous, stores, re...
Name: 1, dtype: object

In [12]:
categories = categories.rename(columns={"categories":"name"})

In [13]:
categories.head()

                                                name
0  [miscellaneous, services, food, stores, miscel...
1  [services, services, miscellaneous, stores, re...
2  [religious, administrative, stores, religious,...

In [152]:
def sortCategories(category):
    #array_category = pd.DataFrame(category)
    list_category = []
    #for lista in array_category:
    for lista in category:
        if lista != None:
            list_category.append(lista)
    list_category.sort()
    return list_category

In [156]:
def summarize_list(category):
    sort_categories = sortCategories(category[0])
    aux = sort_categories[0]
    count = 0
    summarize = {}
    for item in sort_categories:
        if aux == item:
            count+=1
        else:
            summarize[aux] = count
            count = 1
            aux = item        
    return summarize

In [157]:
def summarize_list1(category):
    sort_categories = sortCategories(category[0])
    return sort_categories

In [184]:
a = {}
b = {}
obj = {}
summarize = {}
for index, row in categories.iterrows():
    a = summarize_list(row)
    b = sorted(a.items(), key=operator.itemgetter(0))
    obj[index] = collections.OrderedDict(b)
    
obj

{0: [('cultural', 1),
  ('finance', 3),
  ('food', 6),
  ('health', 1),
  ('miscellaneous', 24),
  ('religious', 4),
  ('services', 11)],
 1: [('cultural', 2),
  ('finance', 6),
  ('food', 3),
  ('health', 4),
  ('miscellaneous', 23),
  ('religious', 1),
  ('services', 10)],
 2: [('administrative', 1),
  ('cultural', 2),
  ('finance', 3),
  ('food', 3),
  ('health', 3),
  ('miscellaneous', 22),
  ('religious', 2),
  ('services', 5)]}

In [166]:
data

,id,col,row,location,places,categories,bounds
0,1,1,1,"{'lat': -22.125511589872737, 'lng': -51.392761...",[[{'geometry': {'location': {'lat': -22.121126...,"[miscellaneous, services, food, stores, miscel...","{'north': -22.12326580166244, 'south': -22.127..."
1,2,2,1,"{'lat': -22.12551151830149, 'lng': -51.3879124...",[[{'geometry': {'location': {'lat': -22.121126...,"[services, services, miscellaneous, stores, re...","{'north': -22.12326573009119, 'south': -22.127..."
2,3,3,1,"{'lat': -22.12551144673024, 'lng': -51.3830639...",[[{'geometry': {'location': {'lat': -22.121126...,"[religious, administrative, stores, religious,...","{'north': -22.12326565851994, 'south': -22.127..."

In [167]:
data2 = pd.DataFrame(data, columns = ['id', 'col', 'row', 'location', 'bounds','summarize'])

In [168]:
data2

,id,col,row,location,bounds,summarize
0,1,1,1,"{'lat': -22.125511589872737, 'lng': -51.392761...","{'north': -22.12326580166244, 'south': -22.127...",NaN
1,2,2,1,"{'lat': -22.12551151830149, 'lng': -51.3879124...","{'north': -22.12326573009119, 'south': -22.127...",NaN
2,3,3,1,"{'lat': -22.12551144673024, 'lng': -51.3830639...","{'north': -22.12326565851994, 'south': -22.127...",NaN

In [176]:
data2['summarize'] = pd.Series(obj)

In [177]:
data2

,id,col,row,location,bounds,summarize
0,1,1,1,"{'lat': -22.125511589872737, 'lng': -51.392761...","{'north': -22.12326580166244, 'south': -22.127...","{'cultural': 1, 'finance': 3, 'food': 6, 'heal..."
1,2,2,1,"{'lat': -22.12551151830149, 'lng': -51.3879124...","{'north': -22.12326573009119, 'south': -22.127...","{'cultural': 2, 'finance': 6, 'food': 3, 'heal..."
2,3,3,1,"{'lat': -22.12551144673024, 'lng': -51.3830639...","{'north': -22.12326565851994, 'south': -22.127...","{'administrative': 1, 'cultural': 2, 'finance'..."