In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [4]:
data = pd.read_json('data.json')

In [5]:
list_macroCategory = [{
    "food": ["bakery", "bar", "cafe", "food", "liquor_store", "meal_delivery", "meal_takeaway", "restaurant"],
    "finance": ["accounting", "atm", "bank", "finance"],
    "administrative": ["city_hall", "courthouse", "embassy", "fire_station", "local_government_office", "police"],
    "transport": ["airport", "bus_station", "subway_station", "taxi_stand", "train_station", "transit_station", "light_rail_station"],
    "cultural": ["art_gallery", "library", "school", "university", "movie_theater", "museum"],
    "entertainment": ["night_club", "amusement_park", "casino", "bowling _lley", "campground", "zoo", "aquarium", "stadium"],
    "health": ["pharmacy", "physiotherapist", "beauty_salon", "dentist", "doctor", "gym", "hair_care", "hospital", "veterinary_care", "health", "spa"],
    "services": ["travel_agency", "funeral_home", "painter", "park", "post_office", "parking", "roofing_contractor", "locksmith", "general_contractor",
        "lodging", "moving_company", "car_repair", "car_wash", "electrician", "car_rental", "laundry", "gas_station", "plumber",
        "real_estate_agency", "recreational_vehicle_park", "insurance_agency", "lawyer"
    ],
    "religious": ["mosque", "cemetery", "church", "hindu_temple", "synagogue", "place_of_worship"],
    "stores": ["shoe_store", "shopping_mall", "pet_store", "bicycle_store", "book_store", "car_dealer", "clothing_store",
        "jewelry_store", "florist", "store", "furniture_store", "convenience_store", "department_store", "electronics_store",
        "hardware_store", "home_goods_store", "storage", "grocery_or_supermarket", "movie_rental"
    ],
    "miscellaneous": ["point_of_interest", "establishment", "country", "floor", "intersection", "locality", "natural_feature", "geocode",
        "colloquial", "area", "room", "post_box", "neighborhood", "postal_code", "postal_town", "political", "postal_code_prefix",
        "postal_code_suffix", "premise", "route", "street_address", "subpremise", "street_number", "sublocality_(SL)"
    ]
}]

In [6]:
data.head()

,id,col,row,location,places,categories,bounds
0,1,1,1,"{'lat': -22.125511589872737, 'lng': -51.392761...",[[{'geometry': {'location': {'lat': -22.121126...,"[miscellaneous, services, food, stores, miscel...","{'north': -22.12326580166244, 'south': -22.127..."
1,2,2,1,"{'lat': -22.12551151830149, 'lng': -51.3879124...",[[{'geometry': {'location': {'lat': -22.121126...,"[services, services, miscellaneous, stores, re...","{'north': -22.12326573009119, 'south': -22.127..."
2,3,3,1,"{'lat': -22.12551144673024, 'lng': -51.3830639...",[[{'geometry': {'location': {'lat': -22.121126...,"[religious, administrative, stores, religious,...","{'north': -22.12326565851994, 'south': -22.127..."

In [7]:
df_macroCategory = pd.DataFrame(list_macroCategory)
df_macroCategory.head()

,food,finance,administrative,transport,cultural,entertainment,health,services,religious,stores,miscellaneous
0,"[bakery, bar, cafe, food, liquor_store, meal_d...","[accounting, atm, bank, finance]","[city_hall, courthouse, embassy, fire_station,...","[airport, bus_station, subway_station, taxi_st...","[art_gallery, library, school, university, mov...","[night_club, amusement_park, casino, bowling _...","[pharmacy, physiotherapist, beauty_salon, dent...","[travel_agency, funeral_home, painter, park, p...","[mosque, cemetery, church, hindu_temple, synag...","[shoe_store, shopping_mall, pet_store, bicycle...","[point_of_interest, establishment, country, fl..."

In [74]:
categories = pd.DataFrame(data.categories)
categories = categories.rename(columns={"categories":"name"})

In [75]:
categories.head()

                                                name
0  [food, food, food, food, health, miscellaneous...
1  [finance, food, health, miscellaneous, miscell...
2  [religious, administrative, stores, religious,...

In [94]:
def sortCategories(categories):
    array_category = categories.name
    array_category = pd.DataFrame(array_category)
    list_category = []
    for lista in array_category.name[0]:
        if lista != None:
            list_category.append(lista)
    list_category.sort()
    return list_category

In [95]:
sort_categories = sortCategories(categories)
aux = sort_categories[1]
count = 0
summarize = []
for item in sort_categories:
    if aux = item:
        count++
    else:
        summarize.append
        aux = item

['cultural',
 'finance',
 'finance',
 'finance',
 'food',
 'food',
 'food',
 'food',
 'food',
 'food',
 'health',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'miscellaneous',
 'religious',
 'religious',
 'religious',
 'religious',
 'services',
 'services',
 'services',
 'services',
 'services',
 'services',
 'services',
 'services',
 'services',
 'services',
 'services',
 'stores',
 'stores',
 'stores',
 'stores',
 'stores',
 'stores',
 'stores',
 'stores']

In [32]:
for category in categories:
    category_sort = pd.DataFrame(name)
    category_sort.sort_values()
    print(category_sort)

NameError: name 'name' is not defined