In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import operator
import collections

In [2]:
data = pd.read_json('data.json')

In [13]:
data

,id,col,row,location,places,categories,bounds
0,1,1,1,"{'lat': -22.125511589872737, 'lng': -51.392761...",[[{'geometry': {'location': {'lat': -22.121126...,"[miscellaneous, services, food, stores, miscel...","{'north': -22.12326580166244, 'south': -22.127..."
1,2,2,1,"{'lat': -22.12551151830149, 'lng': -51.3879124...",[[{'geometry': {'location': {'lat': -22.121126...,"[services, services, miscellaneous, stores, re...","{'north': -22.12326573009119, 'south': -22.127..."
2,3,3,1,"{'lat': -22.12551144673024, 'lng': -51.3830639...",[[{'geometry': {'location': {'lat': -22.121126...,"[religious, administrative, stores, religious,...","{'north': -22.12326565851994, 'south': -22.127..."

In [98]:
places = data[['places']]

In [99]:
lat = places.loc[0][0][0][1]["geometry"]["location"]["lat"]

In [100]:
lng = places.loc[0][0][0][1]["geometry"]["location"]["lng"]

In [101]:
name = places.loc[0][0][0][1]["name"]

In [114]:
if len(places.loc[0][0][0][1]["types"]) > 0:
    cat1 = places.loc[0][0][0][1]["types"][0]
else:
    cat1 = "NaN"

In [115]:
if len(places.loc[0][0][0][1]["types"]) > 1:
    cat2 = places.loc[0][0][0][1]["types"][1]
else:
    cat2 = "NaN"

In [116]:
if len(places.loc[0][0][0][1]["types"]) > 2:
    cat3 = places.loc[0][0][0][1]["types"][2]
else:
    cat3 = "NaN"

In [117]:
if len(places.loc[0][0][0][1]["types"]) > 3:
    cat4 = places.loc[0][0][0][1]["types"][3]
else:
    cat4 = "NaN"

In [118]:
if len(places.loc[0][0][0][1]["types"]) > 4:
    cat5 = places.loc[0][0][0][1]["types"][4]
else:
    cat5 = "NaN"

In [119]:
place = {"name": name, "lat": lat, "lng": lng, "cat1": cat1, "cat2": cat2, "cat3": cat3, "cat4": cat4, "cat5": cat5, "macro_cat": "NaN"}

In [124]:
macrocategories = pd.read_json('macrocategories.json')

ValueError: arrays must all be same length

In [121]:
df = pd.DataFrame(place, index=[0])

In [122]:
df

,name,lat,lng,cat1,cat2,cat3,cat4,cat5,macro_cat
0,Imobiliária Nova Dinâmica,-22.12525,-51.392073,real_estate_agency,point_of_interest,establishment,NaN,NaN,NaN